<div class="edit-product-form">
    <div class="form-group">
      <div class="input-group">
        <label for="id">ID</label>
        <input id="id" [(ngModel)]="product.id" name="id" type="text" disabled />
      </div>
      <div class="input-group">
        <label for="name">Nombre</label>
        <input id="name" [(ngModel)]="product.name" name="name" type="text" required />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label for="description">Descripción</label>
        <input id="description" [(ngModel)]="product.description" name="description" type="text" required />
      </div>
      <div class="input-group">
        <label for="logo">Logo</label>
        <input id="logo" [(ngModel)]="product.logo" name="logo" type="text" required />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <label for="releaseDate">Fecha Liberación</label>
        <input id="releaseDate" [(ngModel)]="product.releaseDate" name="releaseDate" type="date" required />
      </div>
      <div class="input-group">
        <label for="restoreDate">Fecha Restauración</label>
        <input id="restoreDate" [(ngModel)]="product.restoreDate" name="restoreDate" type="date" required />
      </div>
    </div>
    <div class="form-actions">
      <button (click)="onSubmit()">Actualizar</button>
      <button (click)="onReset()">Reiniciar</button>
    </div>
  </div>
  